{% extends 'base.html' %}

{%block main%}
<h1>Add Profile</h1>
<div class="login-form center-block">

    
    <form action="{{url_for('profiles')}}" method="post" enctype="multipart/form-data">
        {% include 'flash_messages.html' %}
        {{ form.csrf_token }}
        <div class="form-group">
            {{form.firstname.label}}
            {{form.firstname(class='form-control',placeholder='Enter your first name')}}
        </div>
        <div class="form-group">
            {{form.lastname.label}}
            {{form.lastname(class='form-control',placeholder='Enter your last name')}}
        </div>
        <div class="form-group">
            {{form.gender.label}}
            {{form.gender(class='form-control',placeholder='Select Gender')}}
        </div>
        <div class="form-group">
            {{form.email.label}}
            {{form.email(class='form-control',placeholder='e.g. jdoe@example.com')}}
        </div>
        <div class="form-group">
            {{form.location.label}}
            {{form.location(class='form-control',placeholder='e.g. Kingston, Jamaica')}}
        </div>
        <div class="form-group">
            {{form.biography.label}}
            {{form.biography(class='form-control')}}
        </div>
        <div class="form-group">
            {{form.profile_pic(class='btn')}}
        </div>
        <button type="submit" name="submit" class="btn green text-white btn-sm">Add Profile</button>
    </form>
</div>
{%endblock%}