{%extends 'base.html'%}



{% block main%}
<h1 class="padding-bm">Profiles</h1>
{% include "flash_messages.html"%}
<div class="d-flex flex-column">
    {% for user in users %}
    <div class="p-2 borderg shadow p-3 mb-5 bg-white rounded ">
        <div class="d-flex flex-row">
            <img src="{{url_for('static',filename='uploads/' + user.profile_pic_id)}}" alt="" srcset="" width="100"
                height="150">
            <div class="d-flex flex-column padding">
                <h1 class="font">{{user.firstname}} {{user.lastname}}</h1>
                <p class="font-sm font-weight-bold text-secondary"><i class="far fa-user"></i> {{user.gender}}</p>
                <p class="font-sm font-weight-bold text-secondary"><i class="fas fa-map-marker-alt"></i>
                    {{user.location}}</p>
            </div>
            <div class="padding-top">
                <a class="btn green text-white px-4 pt-0 pb-0 font-sml font-weight-bold"
                    href="{{url_for('uprofile', userid=user.id)}}">View Profile</a>
            </div>
        </div>

    </div>
    {%endfor%}
</div>
{% endblock%}