{% extends "base.html"%}


{% block main %}

<div class="p-2 borderg shadow p-3 mb-5 bg-white rounded">
    <div class="padding-left padding-right">
        <div class="d-flex flex-row">
            <img src="{{url_for('static',filename='uploads/'+ profile_pic)}}" alt="" srcset="" height="150" width="100">
            <div class="d-flex flex-column px-5 pt-3">
                <h1 class="font-h1">{{user.firstname}} {{user.lastname}}</h1>
                <p class="font-sm  text-secondary"><i class="fas fa-envelope" aria-hidden="true"></i> {{user.email}}</p>
                <p class="font-sm  text-secondary"><i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                    {{user.location}}</p>
                <p class="font-sm  text-secondary"><i class="far fa-calendar"></i> {{curdate}}</p>
            </div>
        </div>
        <h5 class="padding-top2">About Me</h5>
        <p>{{user.biography}}</p>
        <div class="center">
            <button class="btn text-white green padding-left padding-right">Send Message</button>
            <button class="btn btn-primary padding-left padding-right">Follow</button>
        </div>
    </div>
</div>


{% endblock %}